            <div class="col-2">
                <table class="table">
                    <thead>
                        <tr class="table-danger text-uppercase">
                            <th scope="col">Repartidors</th>
                        </tr>
                    </thead>
                    <tbody class=" table-hover">
                        <% for (var i = 0; i < data.length; i++) { 
                            if (data[i].user == user) {%>
                                <tr class="table-light">
                                    <th scope="row"><%= data[i].name %></th>
                                </tr>
                        <%      }
                            } %>
                    </tbody>
                </table>
            </div>     
        </div>
    </div>
</body>
</html>