<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLEAN-DELIVERY</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css"></head>
    <link rel="css" href=""></head>
    
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h1 class="display-4">CLEAN DELIVERY</h1>
    </nav>
    <div class="container-fluid">
      <div class="d-flex justify-content-around mt-4">
        <a href="/newDelivery" class="col-3 btn btn-lg btn-outline-success">Nova comanda</a>

        <a href="/deliveries" class="col-3 btn btn-lg btn-outline-info">Comandes</a>

        <a href="/login" class="col-3 btn btn-lg btn-outline-primary">Login/Logout repartidor</a>

        <a href="/logout" class="col-2 btn btn-lg btn-outline-danger">Sortir</a>
      </div>
      <% if (typeof errors != 'undefined') { %>
            <div class="mt-5 alert alert-danger alert-dismissible fade show" role="alert">
                <%= errors.text %>
            </div>
      <% } %>
      <div class="row mt-5 row container-fluid">