<%- include ('partials/header')  %>

    <div class="col-10">
        <div class="card">
            <div class="card-body">
                <form action="/newDelivery" method="POST">
                    <fieldset>
                    <legend>Afegeix un nou menu</legend>
                    <br>
                    <div class="form-group">
                        <label>INTRODUEIX EL NOM DEL MENU</label>
                        <input type="text" class="form-control" name="menu" aria-describedby="emailHelp" placeholder="Enter menu name">
                    </div>
                    <div class="form-group">
                        <label>NOM DEL PLAT 1</label>
                        <input type="text" class="form-control" name="plat1" placeholder="Enter a plat">
                    </div>
                    <div class="form-group">
                        <label>NOM DEL PLAT 2</label>
                        <input type="text" class="form-control" name="plat2" placeholder="Enter a plat">
                    </div>
                    <div class="form-group">
                        <label>PREU</label>
                        <input type="number" class="form-control" name="price" placeholder="Enter price">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

<%- include ('partials/footer')  %>