<%- include ('partials/header')  %>

      <div class="col-10 d-flex justify-content-around mt-5">
        <div class="card">
          <div class="card-body">
            <form action="/login" method="POST">
                <legend>REGISTRAR NOU EMPLEAT</legend>
                <div class="form-group">
                    <label>DNI</label>
                    <input type="number" name="dni" class="form-control" placeholder="Introdueix el dni sense lletra">
                </div>
                <div class="form-group">
                    <label>NOM I COGNOM</label>
                    <input type="text" name="name" class="form-control" placeholder="Introdueix el nom i el cognom">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
          </div>
        </div>
      </div>
    
<%- include ('partials/footer')  %>