<%- include ('partials/header')  %>

    <div class="col-10 d-flex justify-content-around">
        <table class="table">
            <thead>
              <tr class="table-info">
                <th scope="col">Id</th> <!-- Id menu-->
                <th scope="col">Telefon</th> <!-- Telefon client-->
                <th scope="col">Adreça</th> 
                <th scope="col">Preu</th>  
                <th scope="col">Observacions</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody class="table-hover">
            <% for (var i = 0; i < del.length; i++) { 
                if (del[i].act && del[i].user == user) { %>
                    <tr class="table-light">
                        <th scope="row"><%= del[i].idComanda %></th>
                        <th scope="col"><%= del[i].telefonClient %></th>
                        <th scope="col"><%= del[i].adreca %></th> 
                        <th scope="col"><%= del[i].price %></th> 
                        <th scope="col"><%= del[i].obsv %></th> 
                        <th><form action="/deliveries/deliveryDeleted" method="POST">
                              <input type="hidden" value="<%= del[i].idComanda %>" name="deleteId">
                              <button type="submit" class="btn btn-primary btn-block">Acabar comanda</button>
                            </form>
                        </th>
                    </tr>
            <% }
                } %>
            </tbody>
          </table> 
    </div>

<%- include ('partials/footer')  %>