<%- include ('partials/header')  %>

      <div class="col-10 d-flex justify-content-around mt-5">
        <div class="card">
          <div class="card-body">
            <form action="/login/new-employer" method="POST">
              <legend>LOGIN / LOGOUT</legend>
              <div class="form-group">
                <label>Contrasenya</label>
                <input type="number" name="id" class="form-control" placeholder="Introdueix contraseña">
                <small id="passHelp" class="form-text text-muted">Introdueix el dni sense lletra</small>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
              <a href="/login/addnewemployer" class="btn btn-default btn-block">Afegir repartidor</a>
            </form>
          </div>
        </div>
      </div>
    
<%- include ('partials/footer')  %>