<%- include ('partials/header')  %>

    <div class="col-10">
        <div class="card">
            <div class="card-body">
                <form action="/newDelivery/addDelivery" method="POST">
                    <fieldset>
                    <legend>Entri nova comanda</legend>
                    <br>
                    <div class="form-group">
                        <label>INTRODUEIX EL NÚMERO DE TELEFON DEL CLIENT</label>
                        <input type="number" class="form-control" name="phone" aria-describedby="emailHelp" placeholder="Enter phone">
                    </div>
                    <div class="form-group">
                        <label>INTRODUEIX L'ADREÇA</label>
                        <input type="text" class="form-control" name="street" placeholder="Enter street">
                    </div>
                    <div class="form-group">
                        <label>ESCULL EL MENU</label>
                        <select class="form-control" name="menu">
                            <%  for (var i = 0; i < menu.length; i++) { 
                                if (menu[i].user == user) {%>
                                    <option value="<%=  menu[i].menu %>"><%= menu[i].menu %></option>
                                <%  }
                                } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>OBSERVACIONS</label>
                        <textarea class="form-control" name="obs" rows="2"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/newDelivery/addNewMenu" class="btn btn-defualt">Afegir menu</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

<%- include ('partials/footer')  %>