<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLEAN-DELIVERY</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css"></head>
    <link rel="css" href=""></head>
    
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h1 class="display-4">CLEAN DELIVERY</h1>
    </nav>

    <% if (typeof errors != 'undefined') { %>
        <% for (var i = 0; i < errors.length; i++) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= errors[i].text %>
            </div>
        <% } %>
    <% } %>

   
    <div class="col-12 d-flex justify-content-around mt-5">
        <div class="card">
            <div class="card-body">
                <form action="/signUp" method="POST">
                    <legend>Registre</legend>
                    <div class="form-group">
                        <label>Usuari</label>
                        <input type="text" name="user" class="form-control" placeholder="Introdueix usuari">
                    </div>
                    <div class="form-group">
                        <label>Contrasenya</label>
                        <input type="password" name="password" class="form-control" placeholder="Introdueix contraseña">
                    </div>
                    <div class="form-group">
                        <label>Confirma la contrasenya</label>
                        <input type="password" name="confirmPassword" class="form-control" placeholder="Confirmar contraseña">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    <a href="/signin" class="btn btn-default btn-block">LOGIN</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>